.logo-image_container {
  text-align: center;
}

.card-game-logo-image {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rankings-row {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 21px;
  margin-bottom: 5px;
}

.rankings-header {
  background-color: black;
  color: white;
}

.rankings-toolbar {
  background: grey;
  margin-top: 1%;
  width: 100%;
  display: inline-block;
}

.rankings-game-select {
  font-size: 15px;
  border-radius: 25px;
  outline: none;
}

.rankings-select-container {
  padding: 5px;
  float: left;
}

.stat-link-text {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.rankings-stat-link {
  background-color: white;
  padding: 14px;
  border-radius: 25px;
  margin-top: 8px;
}

.rankings-text-search {
  height: 45px;
  font-size: 12px;
  border-radius: 25px;
  outline: none;
}

.rankings-text-search-container {
  padding: 5px;
  float: left;
}

.rankings-page-title {
  text-align: center;
}

.rankings-row-even {
  background-color: #d9dce0;
}

.rankings-row-odd {
  background-color: #d9dce0;
}

.rankings-ranking {
}

.rankings-user {
  position: absolute;
  left: 15%;
}

.rankings-wins {
  position: absolute;
  left: 35%;
}

.rankings-losses {
  position: absolute;
  left: 45%;
}

.rankings-total {
  position: absolute;
  left: 60%;
}

.rankings-winrate {
  position: absolute;
  left: 80%;
}
