ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

li {
    float: left;
    padding: 15px;
}

ul li {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul li:hover {
    background-color: #111;
}
